<details
  [id]="id()"
  #details
  [attr.aria-disabled]="isDisabled() ? true : undefined"
>
  <summary
    class="component:icon-accordion mx-0 flex cursor-pointer list-none items-center justify-between px-0"
  >
    <span class="heading-sm text-neutral-60 max-w-[15rem]">{{ label() }}</span>
    <app-icon name="expand" class="icon-expand"></app-icon>
  </summary>
  <div class="accordion-content mt-8">
    <div class="flex flex-col gap-6 overflow-hidden">
      @for (option of options(); track $index) {
        <label
          class="bg-neutral-20 hover:bg-secondary-30 text-neutral-80 grid cursor-pointer rounded-lg p-6"
          [attr.data-active]="value() === option.title ? true : undefined"
        >
          <span class="heading-sm">{{ option.title }}</span>
          <span class="body-md mt-2">{{ option.text }}</span>
          <input
            type="radio"
            [name]="id()"
            class="h-0 w-0 overflow-clip opacity-5"
            (change)="handleChange(option.title)"
          />
        </label>
      }
    </div>
  </div>
</details>
