<section class="relative h-[25rem] lg:h-[28.125rem]">
  <picture>
    <source
      media="(min-width: 72rem)"
      srcset="assets/stock/about-us__hero/lg.jpg"
    />
    <source
      media="(min-width: 45rem)"
      srcset="assets/stock/about-us__hero/md.jpg"
    />
    <img
      class="absolute h-full w-full rounded-xl object-cover object-left-top"
      src="assets/stock/about-us__hero/sm.jpg"
      alt=""
    />
  </picture>
  <header
    class="relative mx-auto grid h-full w-[86%] max-w-[17.5rem] content-center text-center md:ml-[3.625rem] md:max-w-[24.875rem] md:text-left lg:ml-[5.3125rem] lg:max-w-[30.8125rem]"
  >
    <h2
      class="heading-lg text-neutral-10 lg:heading-xl md:max-w-[20.75rem] lg:max-w-[30.8125rem]"
    >
      About Us
    </h2>
    <p class="text-neutral-10 body-md mt-6 lg:mt-8 lg:max-w-[27rem]">
      Coffeeroasters began its journey of exotic discovery in 1999, highlighting
      stories of coffee from around the world. We have since been dedicated to
      bring the perfect cup - from bean to brew - in every shipment.
    </p>
  </header>
</section>
<section
  class="mx-auto mt-[7.5rem] grid max-w-[27.8125rem] gap-12 md:mt-36 md:max-w-[45rem] md:grid-cols-[17.5rem_1fr] md:gap-[4.3125rem] lg:mt-[10.5rem] lg:max-w-[69.375rem] lg:grid-cols-[27.8125rem_1fr] lg:items-center lg:gap-[7.8125rem]"
>
  <div
    class="flex h-[25rem] w-full justify-center overflow-hidden rounded-lg md:h-[29.375rem]"
  >
    <div class="h-[32.5rem] w-[27.8125rem]">
      <img
        src="assets/stock/about-us__commitment/barista.jpg"
        alt=""
        class="max-w-[initial]"
      />
    </div>
  </div>
  <header>
    <h2
      class="heading-md text-neutral-80 lg:heading-lg text-center md:text-left"
    >
      Our commitment
    </h2>
    <p class="body-md text-neutral-60 mt-[1.875rem] text-center md:text-left">
      We’re built on a simple mission and a commitment to doing good along the
      way. We want to make it easy for you to discover and brew the world’s best
      coffee at home. It all starts at the source. To locate the specific lots
      we want to purchase, we travel nearly 60 days a year trying to understand
      the challenges and opportunities in each of these places. We collaborate
      with exceptional coffee growers and empower a global community of farmers
      through with well above fair-trade benchmarks. We also offer training,
      support farm community initiatives, and invest in coffee plant science.
      Curating only the finest blends, we roast each lot to highlight tasting
      profiles distinctive to their native growing region.
    </p>
  </header>
</section>
