<section class="relative h-[25rem] lg:h-[28.125rem]">
  <picture>
    <source
      media="(min-width: 72rem)"
      srcset="assets/stock/about-us__hero/lg.jpg"
    />
    <source
      media="(min-width: 45rem)"
      srcset="assets/stock/about-us__hero/md.jpg"
    />
    <img
      class="absolute h-full w-full rounded-xl object-cover object-left-top"
      src="assets/stock/about-us__hero/sm.jpg"
      alt=""
    />
  </picture>
  <header
    class="relative mx-auto grid h-full w-[86%] max-w-[17.5rem] content-center text-center md:ml-[3.625rem] md:max-w-[24.875rem] md:text-left lg:ml-[5.3125rem] lg:max-w-[30.8125rem]"
  >
    <h2
      class="heading-lg text-neutral-10 lg:heading-xl md:max-w-[20.75rem] lg:max-w-[30.8125rem]"
    >
      About Us
    </h2>
    <p class="text-neutral-10 body-md mt-6 lg:mt-8 lg:max-w-[27rem]">
      Coffeeroasters began its journey of exotic discovery in 1999, highlighting
      stories of coffee from around the world. We have since been dedicated to
      bring the perfect cup - from bean to brew - in every shipment.
    </p>
  </header>
</section>
