<section class="relative h-[31.25rem]">
  <picture>
    <source
      media="(min-width: 72rem)"
      srcset="assets/stock/homepage__hero-lg.jpg"
    />
    <source
      media="(min-width: 45rem)"
      srcset="assets/stock/homepage__hero-md.jpg"
    />
    <img
      class="absolute h-full w-full rounded-xl object-cover object-left-top"
      src="assets/stock/homepage__hero-sm.jpg"
      alt=""
    />
  </picture>
  <header class="relative grid h-full content-center">
    <h2 class="heading-lg text-neutral-10">Great coffee made simple.</h2>
    <p class="text-neutral-10 body-md">
      Start your mornings with the world’s best coffees. Try our expertly
      curated artisan coffees from our best roasters delivered directly to your
      door, at your schedule.
    </p>
    <a routerLink="/your-plan">Create your plan</a>
  </header>
</section>
